body,html{
     margin: 0;
   font-family: 'Apple Chancery', cursive;
}
.main{
   margin: 20%;
   background-color: rgba(247, 232, 232, 0.907);
   width: 300px;
   height: 300px;
   border-radius: 20px;
   padding: 25px;
   text-align: center;
   float:initial;
   margin: 100px auto;
   
   
   
}
button{
    width:150px;
    border-radius: 20px;
    border-width: 3px;
}
button:hover{
    color: rgb(0, 255, 42);
}


h1,#bt{
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;

    
    
}
